[Unit]
Description=Kumonoboru - Repository prune
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
EnvironmentFile=/etc/kumonoboru/env
ExecStart=/usr/bin/kumonoboru --clean

[Install]
WantedBy=multi-user.target
